<div id="main">
    <main-slider></main-slider>

    <ul class="actions">
        <li class="action">
            <a href="#/crud">
                <h2>Money CRUD</h2>

                <p>You can add, update or delete your purchases on/from application. Do it easy if it need.</p>
            </a>
        </li>

        <li class="action">
            <h2>Graphics</h2>

            <p>In this chapter you can see and manage your statistics for day, week, month and so on. I help you analyzing your money flows and correct manage it.</p>
        </li>

        <li class="action">
            <h2>Buckets</h2>

            <p>You can create your bucket and add others users or add to bucket of other user. Easy and correctly.</p>
        </li>
    </ul>
</div>